<!DOCTYPE html>
<html>

<head>
    <title> SignUp and Login</title>
    <link rel="stylesheet" type="text/css" href="css/connexion.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container" id="container">

        <div class="overlay-container">
            <img style="background-size:100%;" src="img/LoginBackground.jpg" alt="">
        </div>
        <div class="form-container sign-in-container">
            <form action="/connexion">
                <h1 style="padding-bottom: 15px"> Connexion</h1>
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <button style="margin-top: 10px"> Connexion ...</button>
            </form>
        </div>
    </div>
</body>

</html>