</div>
<footer>
    <div class="text-center">
        Restaurant &copy; 2020
    </div>
</footer>
</div>
</div>

<script src="../../assets/jquery/jquery.min.js"></script>
<script src="../../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/rest/js/custom.min.js"></script>
<script src="../../assets/jquery/jquery.dataTables.min.js"></script>
<script src="../../assets/jquery/dataTables.bootstrap.min.js"></script>
<script src="../../assets/jquery/dataTables.responsive.min.js"></script>
<script src="../../assets/jquery/responsive.bootstrap.js"></script>
<script src="../../assets/jquery/jquery.smartWizard.js"></script>
<script src="../../assets/bootstrap/js/bootstrap-select.min.js"></script>
<script src="../../assets/jquery/jquery.validate.min.js"></script>
<script src="../../assets/jquery/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>